<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.FileDao">
    <insert id="addFile" parameterType="org.example.pojo.File">
        insert into files(fileName,fileSize,fileType,fileUid,webkitRelativePath) values (#{fileName},#{fileSize},#{fileType},#{fileUid},#{webkitRelativePath})
    </insert>
    <delete id="delFile" parameterType="java.lang.Integer">
        delete from files where fileId=#{fileId}
    </delete>
    <select id="updateFile" parameterType="org.example.pojo.File" resultType="java.lang.Integer">
        update files set fileName=#{fileName},fileSize=#{fileSize},fileType=#{fileType},fileUid=#{fileUid},webkitRelativePath=#{webkitRelativePath}
        where fileId=#{fileId}
    </select>

    <select id="getAllFile" resultType="org.example.pojo.File">
        select * from files
    </select>

    <select id="getFileByFileId" resultType="org.example.pojo.File">
        select * from files where fileId=#{fileId}
     </select>
</mapper>