<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.LikeDao">
    <insert id="addLike" parameterType="org.example.pojo.Like">
        insert into likes(postId,openid,likeTime)
        values (#{postId},#{openid},#{likeTime})
    </insert>
    <delete id="delLike" parameterType="java.lang.Integer">
        delete from likes where likeId=#{likeId}
    </delete>
    <select id="updateLike" parameterType="org.example.pojo.Like" resultType="java.lang.Integer">
        update likes
        set postId=#{postId},openid=#{openid},likeTime=#{likeTime}
        where likeId=#{likeId}
    </select>

    <select id="getAllLike" resultType="org.example.pojo.Like">
        select * from likes where postId=#{postId} OR openid=#{openid}
    </select>

    <select id="getLikeById" resultType="org.example.pojo.Like">
        select * from likes where likeId=#{likeId}
     </select>
</mapper>