<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.UserDao">
    <insert id="addUsers" parameterType="org.example.pojo.User">
        insert into users(nickName,userIcon,openid,userName,userSfz,userPhone,userTime)
        values (#{nickName},#{userIcon},#{openid},#{userName},#{userSfz},#{userPhone},#{userTime})
    </insert>
<!--,userAddress,userLike,userLove,userEva,userCom,   ,#{userAddress},#{userLike},#{userLove},#{userEva},#{userCom}-->

    <delete id="delUsers" parameterType="java.lang.Integer">
        delete from users where userId=#{userId}
    </delete>

    <select id="updateUsers" parameterType="org.example.pojo.User" resultType="java.lang.Integer">
        update users set nickName=#{nickName},userIcon=#{userIcon},openid=#{openid},userName=#{userName},userSfz=#{userSfz},userPhone=#{userPhone},userTime=#{userTime}
        where userId=#{userId}
    </select>

    <select id="updateUserAddressNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        update users set users.userAddress = (select count(addressId) from address where address.userId= #{userId}) where users.userId = #{userId}
    </select>
    <select id="updateUserLikeNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        update users set users.userLike = (select count(favorId) from favors where favors.userId= #{userId} AND favors.favorType=1) where users.userId = #{userId}
    </select>
    <select id="updateUserLoveNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        update users set users.userLove = (select count(favorId) from favors where favors.userId= #{userId} AND favors.favorType=2) where users.userId = #{userId}
    </select>
    <select id="updateUserOrderNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        update users set users.userOrder = (select count(orderId) from orders where orders.userId= #{userId}) where users.userId = #{userId}
    </select>
    <select id="updateUserEvaNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        update users set users.userEva = (select count(evaluationId) from evaluations where evaluations.userId= #{userId}) where users.userId = #{userId}
    </select>
    <select id="updateUserPostNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        update users set users.userPost = (select count(postId) from posts where posts.userId= #{userId}) where users.userId = #{userId}
    </select>
    <select id="updateUserComNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        update users set users.userCom = (select count(commentId) from comments where comments.userId= #{userId}) where users.userId = #{userId}
    </select>

    <select id="getAllUsers" resultType="org.example.pojo.User">
        select * from users where userName like "%"#{keyWord}"%" OR nickName like "%"#{keyWord}"%"
    </select>
    <select id="getUserById" resultType="org.example.pojo.User">
        select * from users where openid=#{openid}
     </select>
</mapper>