<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.UserDao">
    <insert id="addUsers" parameterType="org.example.pojo.User">
        insert into users(userId,openid,userName,nickName,userIcon,userSfz,userPhone,userAddress,userLike,userLove,userEva,userCom,)
        values (#{userId},#{openid},#{userName},#{nickName},#{userIcon},#{userSfz},#{userPhone},#{userAddress},#{userLike},#{userLove},#{userEva},#{userCom})
    </insert>

    <delete id="delUsers" parameterType="java.lang.Integer">
        delete from users where userId=#{userId}
    </delete>

    <select id="updateUsers" parameterType="org.example.pojo.User" resultType="java.lang.Integer">
        update users set userName=#{userName},nickName=#{nickName},userIcon=#{userIcon},userSfz=#{userSfz},userPhone=#{userPhone},userAddress=#{userAddress},userLike=#{userLike},userLove=#{userLove},userEva=#{userEva},userCom=#{userCom}
        where userId=#{userId}
    </select>

    <select id="getAllUsers" resultType="org.example.pojo.User">
        select * from users where userName like "%"#{keyWord}"%" OR nickName like "%"#{keyWord}"%"
    </select>
    <select id="getUserById" resultType="org.example.pojo.User">
        select * from users where openid=#{openid}
     </select>
</mapper>